certifi==2021.10.8
click==7.1.2
cytoolz==0.11.2
Flask==1.1.2
Flask-SQLAlchemy==2.5.1
Flask-WTF==0.14.3
greenlet==1.1.2
gunicorn==20.1.0
hpack==4.0.0
itsdangerous==1.1.0
Jinja2==2.11.2
netaddr==0.7.19
parsimonious==0.8.1
protobuf==3.19.1
SQLAlchemy==1.4.28
Werkzeug==1.0.1